@{
    ViewBag.Title = "Index";
    Layout = null;
}
<h4>THỰC HIỆN PHÉP TOÁN CƠ BẢN</h4>
<form name="f1" action="/SinhVien_61133153/Register2" method="post">
    <div>
        Mã số sinh viên: <input type="text" name="Id" /> <br />
        Họ và tên: <input type="text" name="Name" /> <br />
        Điểm: <input type="text" name="Marks" />
    </div>
   
    <div><input type="submit" value="Đăng kí" /></div>
</form>
